@import "./mixins";

.hero {
  @include flex-center-dir(column);
  background-image: url("../images/spinecenter_heroimage.jpg");
  background-image: url("../images/spinecenter_heroimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
    margin-bottom: 2em;
  .main-section_text {
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    padding: 0 .5em;
  }

  
}
