@import './mixins';

.about-section {
    @include section-textAndVideo;
    padding: 0 2em;
    

  @media (min-width: map-get($breakpoints, desktop)) {
    .section-textAndVideo {
        @include flex-center-dir(row);
        gap: 2em;
        .section_text{
            // text-align: justify;
            p {
              text-align: center;
            }
            width: 30%;
        }
        iframe{
            width: 50%;
        }
  }
}
}