<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpineCenter - Preguntas Frecuetnes</title>
    <link rel="shortcut icon" href="../images/spinecenter_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
          <a class="navbar-brand" href="../index.html"><img src="../images/spinecenter_logo.png" alt="logo" /></a>
          <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" href="./about.html">Sobre Nosotros</a></li>
              <li class="nav-item"><a class="nav-link" href="./testimonials.html">Testimonios y Opiniones</a></li>
              <li class="nav-item"><a class="nav-link" href="./contact.html">Contacto</a></li>
              <li class="nav-item"><a class="nav-link" href="./faq.html">FAQ</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <main class="container container-short">
        <div class="preguntas-frecuentes">
          <h2 class="section_title">Preguntas Frecuentes</h2>

          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  FAQ #1
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium aut beatae incidunt et, itaque ex ipsam ad consectetur? Ullam asperiores itaque molestiae ratione quia, culpa earum, ipsam distinctio tempore saepe voluptates in, sapiente obcaecati facilis. Accusamus, commodi suscipit? Aspernatur obcaecati voluptates inventore dolores voluptatem, nemo soluta sapiente magni enim voluptatibus.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  FAQ #2
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero labore officia, tenetur culpa consequuntur molestias officiis sed repellat quae natus dolor suscipit vero vitae quisquam ipsa assumenda eos doloremque harum.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  FAQ #3
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ex vitae quod voluptas! Odio ipsam optio deleniti cumque quia deserunt tempore cum porro eaque explicabo facere eos, facilis placeat sequi ipsum consequuntur odit rerum. Repellendus blanditiis sit sequi aut sed.
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer>
      <nav>
        <div class="footer_direccion">
          <div>
            <p>Avenida Tizoc 595-B, Cd Del Sol</p>
            <p>Zapopan, Jalisco 45050</p>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14933.080508564199!2d-103.4058435!3d20.6585864!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5baf1b017eb93f3b!2sSpine%20Center%20Quiropr%C3%A1cticos%20%2F%20Centro%20de%20Descompresi%C3%B3n!5e0!3m2!1ses-419!2smx!4v1639183840104!5m2!1ses-419!2smx" width="150" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="footer_horario">
          <p>Horario de atención:</p>
          <p>Lun a Vie: 09:00 am – 8:00 pm</p>
          <p>Sábado: 09:00 am – 2:00 pm</p>
        </div>

        <div class="footer_contacto">
          <a href="tel:3336156676">Tel: 33 3615 6676</a>
          <a href = "mailto:spinecentergdjara@gmail.com">Email: spinecentergdjara@gmail.com</a>
        </div>
      </nav>
    </footer>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>